<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="loading images from server requests">
  <link rel="icon" href="./images/gallery.ico">
  <link rel="stylesheet" href="./style02.css">
  <title>Gallery02</title>
</head>

<body>

  <form method="post" action="/"  autocomplete="off">

    <h1>CANADIAN CITIES GALLERY</h1>

    <section >
      <h2>Login</h2>
      <br />
      <input id="userName" name="userName" type="text" required placeholder="Username" value="" />
      <br />
      <input id="password" name="password" type="password" required placeholder="Password" value="" />
      <br />
      <button type="submit" value="submit">Submit</button>
      <br />
      <button id= type="button" value="register"> <a href="./register">Register</a>
        </button>
      <br />
      <label id="errMessage">{{message}}</label>
    </section>

   

  </form>

</body>

</html>