<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="loading images from server requests">
  <link rel="icon" href="./images/gallery.ico">
  <link rel="stylesheet" href="./style02.css">
  <title>Gallery02</title>
</head>

<body>
  <header>
    <h1>CANADIAN CITIES GALLERY</h1>
  </header>
  <section>
    <form method="post" action="/" autocomplete="off">
    <h2>Login</h2>
      <br />
      <input id="userName" name="userName" type="text" required placeholder="Username" value="" />
      <br />
      <input id="password" name="password" type="password" required placeholder="Password" value="" />
      <br />
      <button type="submit" value="submit">Submit</button>
      <br />
        </form>
      <form method="get" action="/register">
      <button type="submit" value="register">Register</button>
      <br />
      <label id="errMessage">{{message}}</label>
      </form>
  </section>





</body>

</html>