body{
  margin: 0;
  padding: 0;
  background-image: url(./images/background1.png);
  background-position: left bottom;
  background-repeat: no-repeat;
}
h6{
  display: none;
}
h1{
  position: absolute;
  top: 7vh;
  left: 42vw;
  font-family: monospace;
  font-size: 25px;
  color:  rgb(162, 4, 25);
}
input{
  margin: 5px 25px;
}

#list{
  margin: 15vh 10vw;
}

label{
  font-size: 20px;
}
label:hover
{
  color:  rgb(162, 4, 25);
  font-family: 'Courier New', Courier, monospace;
}


button{
  margin: 20px;
  border-radius: 10px;
  padding: 0;
  height: 30px;
  width: 200px;
  background-color: rgb(162, 4, 25);
  color: rgb(235, 241, 247);
  font-size: 20px;
  cursor: pointer;
}

#imagContainer{
  text-align: center;
  position: absolute;
  top: 15vh;
  left: 40vw;
  height: 50vh;
  width: 400px;
  border-radius: 10px;
  border: 2px solid  rgb(162, 4, 25);
  box-shadow: 3px 3px #b8b7b7;
  
}
#focusImage{
    overflow: hidden;
}
img{
  height: 50vh;
  width: 400px;
  border-radius: 5px;
  animation: img-load 500ms ease-in;
}
p{
  margin: auto;
  display: block;
  justify-content: center;
  font-size: 20px;
  font-family: monospace;
  color:  rgb(162, 4, 25);
}
.user{
  position: absolute;
  text-align: center;
  top: 3vh ;
  right : 2vw;
}
#avatar{
  height: 50px;
  width: 50px;
  animation: unset;
}
#username 
{
  font-family: unset;
  transition: opacity .4s;
}
.user:hover #username{
  opacity: 0;
}
a{
  opacity: 0;
  transition: opacity .4s;
  font-size: 15px;
  position: relative;
  top: -24px;
}
.user:hover a{
  opacity: 1;
  
}
#loading{
  z-index: -1;
  position: absolute;
  top: 30vh;
  left: 44vw;
}
#div1
{
  height: 50px;
  width: 100px;
  background-color: black;
  border-radius:10px ;
  position: relative;
  top: 50px;
  left: 100px;
  z-index: -1;

  animation: falsh .2s  infinite;
}
#div2
{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 12px;
  right: -60px;
  z-index: -1;

}
#div3
{
  height: 10px;
  width: 25px;
  position: relative;
  background-color: black;
  top: -30px;
  left: 60px;
  border-radius: 5px;
  z-index: -1;


}
#div4
{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  z-index: -1;
  top:7.5px;
  left:7.5px;
  animation: wide 1s infinite ;

}
#div5
{
  height: 5px;
  width: 10px;
  background-color: white;
  position: relative;
  top: 5px;
  left: 7px;
  z-index: -1;

}
#div6
{
  height: 5px;
  width: 10px;
  position: relative;
  top: -30px;
  left: 10px;
  background-color: white;
}
@keyframes falsh {
  0%{opacity: 1;}
  25%{opacity: 1;}
  50%{opacity: 0;}
  60%{opacity: 1;}
  75%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes wide {
  0%{width: 10px;height: 10px;top:7.5px;left:7.5px;}
  30%{width: 25px;height: 25px;top:0px;left:0px;}
  60%{width: 10px;height: 10px;top:7.5px;left:7.5px;}
  100%{width: 25px;height: 25px;top:0px;left:0px;}
}     

@keyframes img-load 
{
  0%{transform: translateY(-100%);}
  80%{transform: translateY(0);}
  90%{transform: translateY(-5%);}
  100%{transform: translateY(0);}
}